<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style type="text/css">
    li{
        display:block;
        float:left;
        width:40px;
        margin-right:8px;
        white-space:normal;
        word-break : break-all;
        word-wrap: break-word;
    }
</style>
</head>

<body>
    <div>
        <ul>
            <li>这里放置的<br>是例子1</li>
            <li>这里放置的是例子2</li>
            <li>这里放置的是例子3</li>
            <li>这里放置的是例子4</li>
            <li>这里放置的是例子5</li>
            <li>这里放置的是例子6</li>
        </ul>
    </div>
</body>
</html>